* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style:none;}
.clr::after {display:none; position:relative; content:' '; color:transparent; font-size:3px; line-height:3px; clear:both;}

html {position: relative; min-height: 100%;}
body {background: #f1f1f1; font-family: 'Arial', sans-serif;}

/* wrapper */
.container_wrapper {width:1200px; margin: 0 auto 95px auto; height: 100%;} /* margin-bottom size value equals footer height value */

header {position: relative; width: 1200px; height: 231px; margin: 10px 0; background: url(../assets/header_seaside.jpg) 0 0 no-repeat; border-radius: 10px;}
.header_logo {position: relative; float: left; margin: 50px 0 0 100px;}
.header_logo > a {background: url(../assets/evropa-tour-logo.png) 0 0 no-repeat; background-size: 150px 37px; padding: 37px 150px 0 0;}
.header_greet {float: right; margin: 15px 30px 0 0; text-align: right;}
.header_greet > h6 {font-size: 18px; color: #484545; text-transform: uppercase;}
.header_greet > p {font-size: 16px; color: #484545;}
.header_greet > p > a {font-size: 14px; text-decoration: none; color: #484545;}
.header_greet > p > a:hover {text-decoration: underline;}

nav {margin: 10px 0; background: #fff; border-radius: 10px; padding: 5px;}
nav > ul {display: block; position: relative;}
nav > ul > li {display: inline-block; width: 24.5%; text-align: center; text-transform: uppercase;}
nav > ul > li > a {display: block; text-decoration: none; padding: 10px; border-radius: 5px; color: #00b0eb;}
nav > ul > li > a:hover {background: #78d8f8; color: #005F7F;}

footer {background: #fff; position: absolute; bottom: 10px; left: 50%; margin-left: -600px; width: 1200px; height: 85px; background: url(../assets/footer_seaside.jpg) 0 0 no-repeat; border-radius: 10px;}
footer > p {text-align: center; font-size: 16px; line-height: 20px; margin-top: 30px; color: #484545;}

.content_wrapper {display: block; position: relative; overflow: hidden; margin: 10px 0;}
.sidebar {display: block; position: relative; float: left; background: #fff; padding: 10px; border-radius: 5px; width: 20%;}
.sidebar > h4 {color: #005F7F; text-transform: uppercase;}
.sidebar > ul {margin: 5px 5px 10px 10px;}
.sidebar > ul > li {color: #00b0eb; margin: 5px 0;}
.sidebar > ul > li > a {text-decoration: none; text-transform: uppercase; color: #78d8f8; font-size: 16px;}
.sidebar > ul > li > a:hover {text-decoration: underline;}
.content {display: block; position: relative; float: right; background: #fff; padding: 10px; border-radius: 5px; width: 76%;}
.content > p {margin-bottom: 10px; color: #484545; font-size: 16px; line-height: 18px;}

.login_wrapper {display: block; position: relative; margin: 40px;}
.login_wrapper > h4 {text-transform: uppercase; font-size: 25px; margin: 20px auto; color: #484545;}
.form_field {display: block; position: relative; overflow: hidden; width: 900px; margin: 10px auto;}
.form_field input[type=submit] {margin-left: 220px; border: 1px solid #005F7F; width: 321px; height: 40px; border-radius: 5px; background: #78d8f8; text-transform: uppercase; font-size: 20px; cursor: pointer;}
.form_name {display: block; position: relative; float: left; width: 200px; text-align: right; margin-right: 20px;}
.form_name > p {font-size: 20px; line-height: 40px; text-transform: uppercase; color: #484545;}
.form_input {display: block; position: relative; float: left; width: 350px;}
.form_input input {height: 40px; width: 300px; border: 1px solid #005F7F; border-radius: 5px; padding: 0 10px; font-size: 20px;}
.form_input select {height: 40px; width: 150px; border: 1px solid #005F7F; border-radius: 5px; padding: 0 10px; font-size: 20px;}

.tours {margin:20px;}
.tours > h4 {text-transform: uppercase; font-size: 25px; margin: 20px auto; color: #484545;}
.tours table {border:1px solid #666; width:100%; border-radius: 5px 5px 0 0;}
.tours table th {padding:5px; font-family:Arial, sans-serif; color:#000; background:#00b0eb; font-size:14px; line-height:18px; text-align:left; text-transform: uppercase;}
.tours table td {padding:5px; font-family:Arial, sans-serif; color:#000;  font-size:14px; line-height:18px;}
.tours table td > a {font-size: 14px; color: #00b0eb; text-transform: uppercase; text-decoration: none;}
.tours table td > a:hover {text-decoration: underline;}
.tours table tr:nth-child(even) td {background:#fff;}
.tours table tr:nth-child(odd) td {background:#e4e4e4;}
.tours > img {width: 870px;}
.tours > h3 {text-transform: uppercase; font-size: 25px; margin: 20px auto; color: #00b0eb; text-align: center;}







